<div id="my-modal-add" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">新增用户</h3>
            </div>

            <div class="modal-body">
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" id="form-edit" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">按钮名称</label>

                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" name="txtbtnname" placeholder="请输入按钮名称" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">按钮编码</label>

                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" name="txtcode" placeholder="请输入按钮编码" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">排序</label>

                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" name="txtsort" placeholder="请输入排序" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-success" id="btnAddSave">
                    <i class="ace-icon fa fa-check pull-right"></i>
                    保存
                </button>
                <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>