<li>
    <a href="#" data-type="operation" class="tooltip-success" data-rel="tooltip" title="设置角色" data-title="Setrole">
        <span class="orange">
            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
        </span>
    </a>
</li>
