
<li>
    <a href="#" data-type="operation" class="tooltip-error" data-rel="tooltip" title="删除" data-title="Delete">
        <span class="red">
            <i class="ace-icon fa fa-trash-o bigger-120"></i>
        </span>
    </a>
</li>