<button href="#my-modal-add" class='btn btn-success btn-sm' onclick='ShowAdd()' data-toggle="modal">
    <i class="icon-only ace-icon ace-icon fa fa-plus icon-on-right bigger-110"></i>
    新增
</button>