<li>
    <a href="#" data-type="operation" class="tooltip-info" data-rel="tooltip" title="详情" data-title="View">
        <span class="blue">
            <i class="ace-icon fa fa-search-plus bigger-120"></i>
        </span>
    </a>
</li>